body {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.gallery h2 {
    flex-basis: 100%;
}

.gallery img {
    height: 10rem;
}
